@model  List<Lab.EF.MVC.Models.CustomerView>

@{
    ViewBag.Title = "Customers";
}

<h2 class="text-center text-primary">Customers</h2>

<div>
    @Html.ActionLink("Create", "Create", "Customer", new { @class = "btn btn-lg btn-success" })
</div>

<hr />

@if (TempData["message"] != null)
{
    <div class="alert alert-success ">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@TempData["message"]</strong>
    </div>
}
<table class="table table-hover">
    <thead>
        <tr class="active">
            <th>
                Customer Id
            </th>
            <th>
                Company Name
            </th>
            <th>
                Contact Name
            </th>
            <th>
                Contact Title
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                Region
            </th>
            <th>
                Country
            </th>
            <th>
                Phone
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => customer.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.CompanyName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => customer.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.ContactTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Phone)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Customer", new { id = customer.CustomerID },
                                    new { @class = "btn btn-danger", onclick = "return confirm('seguro desea borrar?');" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Customer", new { id = customer.CustomerID },
                                    new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>