@model Lab.EF.MVC.Models.CategoryView

<div class="container">
    
    <div class="form-group">
        @Html.LabelFor(c => c.CategoryName, new { @class = "control-label" })
        @Html.TextBoxFor(c => c.CategoryName, new { @class = "form-control", maxlength = "15" })
        @Html.ValidationMessageFor(c => c.CategoryName, "", new { @class = "text-danger " })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Description, new { @class = "control-label" })
        @Html.TextBoxFor(c => c.Description, new { @class = "form-control", maxlength = "30" })
        @Html.ValidationMessageFor(c => c.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Picture, new { @class = "control-label" })
        @Html.TextBoxFor(c => c.Picture, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Picture)
    </div>
  
</div>
