@model List<Lab.EF.MVC.Models.SupplierView>

@{
    ViewBag.Title = "Suppliers";
}

<h2>Suppliers</h2>

<hr />

<table class="table table-hover">
    <thead>
        <tr class="info">
            <th>
                Supplier ID
            </th>
            <th>
                Company Name
            </th>
            <th>
                Contact Name
            </th>
            <th>
                Contact Title
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                Country
            </th>
            <th>
                Phone
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => supplier.SupplierID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supplier.CompanyName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => supplier.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supplier.ContactTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supplier.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supplier.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supplier.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supplier.Phone)
                </td>
            </tr>
        }
    </tbody>
</table>
