@model List<Lab.EF.MVC.Models.ProductView>

@{
    ViewBag.Title = "Products";
}

<h2 class="text-center">Products</h2>

<div>
    @Html.ActionLink("Create", "Create", "Product", new { @class = "btn btn-lg btn-success" })
</div>

<hr />

@if (TempData["message"] != null)
{
    <div class="alert alert-success ">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@TempData["message"]</strong>
    </div>
}

<table class="table table-hover">
    <thead>
        <tr class="active">
            <th>
                Product ID
            </th>
            <th>
                Product Name
            </th>
            <th>
                Supplier ID
            </th>
            <th>
                Category ID
            </th>
            <th>
                Quantity Per Unit
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Units In Stock
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => product.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.ProductName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => product.SupplierID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.QuantityPerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.UnitsInStock)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Product", new { id = product.ProductID },
                                    new { @class = "btn btn-danger", onclick = "return confirm('seguro desea borrar?');" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Product", new { id = product.ProductID },
                                    new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>

